on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: my-server-image
  IMAGE_TAG: latest

jobs:
  backend-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 에 올린 파일 불러오기
        uses: actions/checkout@v5

      - name: Permission
        run: chmod +x ./gradlew

      - name: 빌드 하기
        run: ./gradlew clean build -x test

      - name: 도커 이미지 빌드하기
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG .

      - name: 도커 허브에 로그인 하기
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 도커 허브에 도커 image push 하기
        run: docker push ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG

      - name: SSH 로 EC2 에 접근하기 + docker 에서 이미지를 pull 해온뒤, 실행
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ secrets.WAS_HOST }}
          username: ${{ secrets.WAS_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.WAS_SSH_PORT }}
          envs: IMAGE_NAME, IMAGE_TAG
          script: |
            docker rm -f my-server-container || true
            fuser -k 8080/tcp || true
            docker network prune -f
            docker pull ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG
            docker run -d -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG
